@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
}

.start-btn {
  position: absolute;
  top: 13rem;
  left: 33rem;
  width: 15rem;
  height: 10rem;
  background-color: #800033;
  border-style: none;
  border-radius: 2em;
  font-size: 2rem;
  color: white;
  font-weight: 700;
}

.start-btn:hover {
  background-color: #4d001f;
  cursor: pointer;
}

.round-num {
  position: absolute;
  width: 6.5rem;
  height: 3.5rem;
  background-color: #4d001f;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0.5rem;
  border-radius: 0.6rem;
  top: 12rem;
  left: 36rem;
}

/* ********************************************* Game Body *********************************** */
.game-body {
  width: 1200px;
  margin: 0 auto;
  margin-top: 2rem;
  display: none;
}

.won-result {
  width: 1200px;
  height: 20vh;
  background-color: #4d001f;
  border-radius: 2rem;
  margin: 0 auto;
  margin-top: 2rem;
  display: none;
  color: #fff;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}

.result-board,
.game-roll {
  width: 100%;
  height: 10rem;
  background-color: #800033;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.game-roll {
  margin-top: 3rem;
  height: 28rem;
}
.score-board,
.role-table {
  width: 45%;
  height: 85%;
  background-color: #660029;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.role-table.active .player-info {
  color: #ff1a75;
  font-size: 4rem;
}

.role-table.active {
  background-color: #4d001f;
}

.player-info {
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
  margin-top: 0.5rem;
}

.health {
  font-size: 2.2rem;
  font-weight: 700;
  color: #fff;
  margin-top: 4rem;
}

.attack {
  border-style: none;
  height: 3rem;
  width: 6rem;
  border-radius: 1rem;
  font-size: 1.3rem;
  font-weight: 700;
}

.attack:hover {
  background-color: #555;
  cursor: pointer;
}
.main-score {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
}

@media (max-width: 500px) {
  body {
    background: linear-gradient(#753682 0%, #bf2e34 100%);
  }
  .start-btn {
    position: absolute;
    top: 13rem;
    left: 5rem;
  }

  .game-body {
    width: 90%;
    margin: 0 auto;
    margin-top: 2rem;
    display: none;
  }

  .result-board {
    padding: 0.3rem;
    width: 90%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    margin: 2rem auto;
    margin-bottom: 5rem;
  }

  .score-board {
    width: 45%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .player-info {
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
    margin-top: 0.5rem;
    margin-left: 0.7rem;
  }

  .main-score {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
  }

  .game-roll {
    width: 90%;
    height: fit-content;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem 0;
  }
  .role-table {
    width: 90%;
    height: fit-content;
  }

  .role-table.active .player-info {
    color: #ff1a75;
    font-size: 2.2rem;
  }

  .player-info {
    font-size: 1.6rem;
  }

  .health {
    font-size: 1.3rem;
    margin-top: 1rem;
  }

  .attack {
    margin-bottom: 1rem;
  }

  .round-num {
    top: 10rem;
    left: 9rem;
  }

  .won-result {
    width: 90%;
    height: 5vh;
    background-color: #4d001f;
    border-radius: 1rem;
    margin: 0 auto;
    margin-top: 2rem;
    display: none;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
  }
} ;
